/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2019, 4:19:00 AM
    Author     : DIT STAT
*/
.red {
   color: red;
}
.thick {
   font-size:20px;
}
.green {
   color: green;
}

   .blue {
       color:blue;
   }
   
       .purple {
           color: purple;
       }
       
           .yellow{
               color: yellow;
           }
          
           
          
   
           .peru{
               color: powderblue;
           } 
           .lime{
               color: lime;
             
           }
          
           
           .gray{
               color: graytext;
           }
           .olive{
               color: olive;
           }
           .black{
               color: black
                   
           }
           .orange{
               color: orange;
           }
           .aqua{
               color: aqua;
           }
           .fuchsia{
               color: fuchsia;
               
           }
           .navy{
               color: navy;
           }
           .maroon{
               color: maroon
               
           }
           .silver{
               color: silver;
           }
           
.alicebluealiceblue                                                     
.antiquewhiteantiquewhite		
.aquamarineaquamarine		
.azureazure		
.beigebeige	
.bisquebisque	
.blanchedalmondblanchedalmond	
.blueviolet		
.brown	
.burlywood	
.cadetblue	
.chartreuse	
.chocolate	
.coral	
.cornflowerblue	
.cornsilk	
.crimson	
.cyan		
.white{font-family: fantasy;
          font-size: 5px;
}	
.darkcyan	
.darkgoldenrod	
.darkgray	
.white	
.darkkhaki	
.darkmagenta	
.darkolivegreen	
.darkorange	
.darkorchid	
.darkred	
.darksalmon	
.darkseagreen	
.darkslateblue	
.darkslategray	
.darkturquoise	
.darkviolet	
.deeppink	
.deepskyblue	
.dimgray	
.dodgerblue	
.white	
.floralwhite	
.forestgreen	
.gainsboro	
.ghostwhite	
.gold	
.goldenrod	
.gray	
.greenyellow	
.honeydew	
.hotpink	
.indianred	
.indigo	
.ivory	
.khaki	
.lavender      
.lavenderblush	
.lawngreen
.lemonchiffon	
.lightblue	
.lightcoral	
.lightcyan	
.lightgoldenrodyellow	
.lightgreen	
.lightgrey	
.lightpink	
.lightsalmon	
.lightseagreen	
.lightskyblue	
.lightslategray	
.lightsteelblue	
.lightyellow	
.limegreen	
.linen	
.magenta	
.mediumblue	
.mediumorchid	
.mediumpurple	
.midnightblue	
.mistyrose	
.moccasin	
.oldlace	
.orange	
.orchid	
.peachpuff	
.peru	
.pink	
.plum	
.purple	
.rosybrown	
.royalblue	
.salmon	
.sandybrown	
.seagreen	
.sienna	
.skyblue	
.slateblue	
.steelblue	
.tan	
.thistle	
.tomato	
.violet	
.wheat	
.whitesmoke	
.yellow	
.yellowgreen	
 
//